<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="hero">
    <h1>Cinema Ironhack</h1>
    <a href="/movies" class="button">Check the movies!</a>
  </div>
</body>
</html>
